@(user: GamebetUser, passwordForm: Form[models.web.Password])
@import play.i18n._
@import appPage._

@q = @{
	import scala.collection.mutable.Queue
	
	var queue : Queue[Tuple3[String, String, Boolean]] = Queue()
	//queue.enqueue((routes.Gamedays.show(item.game.gameday.id).toString(), item.game.gameday.name, false))*@
	//queue.enqueue((routes.Games.show(item.game.id).toString(), item.game.getViewName, false))*@
	queue.enqueue(("#", Messages.get("views.user.settings.changePassword.label"), true))
	
	queue
}
@applicationPage(Messages.get("views.user.settings.changePassword.title")) {
	@*header*@
	@header(q)
} { 
@* sidebar navigation *@
@sidebar(user)
} {
@* main content for this page *@
@helper.form(routes.Users.changePassword(user.id)) {
	<legend>
	@Messages.get("views.user.settings.changePassword.legend")
	<button type="submit" class="btn btn-primary pull-right">@Messages.get("views.save")</button>
	</legend>
	@if(!flash.isEmpty()) {
		<div class="row-fluid">
		<span>@flash.get("Error")</span>
		</div>
	}
	@helper.inputText(passwordForm("old"), '_label -> Messages.get("views.user.settings.passwordChange.old.label"))
	@helper.inputText(passwordForm("new1"), '_label -> Messages.get("views.user.settings.passwordChange.old.label"))
	@helper.inputText(passwordForm("new2"), '_label -> Messages.get("views.user.settings.passwordChange.old.label"))
}
}