@(user: User, item: Meeting, meetingForm: Form[Meeting], gamedayForm: Form[Gameday])
@import play.i18n._
@import appPage._

@q = @{
	import scala.collection.mutable.Queue
	
	var queue : Queue[Tuple3[String, String, Boolean]] = Queue()
	queue.enqueue(("#", "Veranstaltungen", false))
	queue.enqueue(("#", item.name, false))
	queue.enqueue(("#", "Bearbeiten", true))
	
	queue
}
@applicationPage(Messages.get("views.meeting.edit.title")) {
	@* header *@
	@header(q)
} {
	@* sidebar *@
	@sidebar()
} {
	@* content *@
	@helper.form(routes.Meetings.update(item.id)) {
	<legend>
		@Messages.get("views.meeting.edit.legend", item.name)
		<button class="btn btn-success pull-right" type="submit">@Messages.get("views.meeting.edit.form.button.submit")</button> 
		
	</legend>
	<div class="row-fluid">
		<div class="span12">
			@helper.inputText(meetingForm("name"), '_label -> Messages.get("views.meeting.name.label"))
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Bearbeiten/Speichern</th>
					</tr>
				</thead>
				<tbody>
					@for(gameday <- item.gamedays) {
					<tr>
						<td>@gameday.name</td>
						<td><a href="@routes.Gamedays.edit(gameday.id)" class="btn btn-primary">Bearbeiten</a></td>
					</tr>
					}
					
					@helper.form(routes.Gamedays.createFromMeeting(item.id)) {
					<tr>@helper.inputText(gamedayForm("name"))</tr>
					<tr><button type="submit" class="btn btn-primary">Neu</button></tr>
					}
				</tbody>
			</table>
		</div>
	</div>
	}
}