@(user: GamebetUser)
@import play.i18n._
@import appPage._

	@q = @{
		import scala.collection.mutable.Queue
		
		var queue : Queue[Tuple3[String, String, Boolean]] = Queue()
		queue.enqueue(("#", Messages.get("views.meeting.label"), true))
		
		queue
	}

@applicationPage(Messages.get("views.meeting.list.title")) {
	@*header*@
	@header(q)
} { 
@* sidebar navigation *@
@sidebar(user)
} {
@* main content for this page *@
<legend>
	@Messages.get("views.meeting.list.legend")
</legend>
<div class="row-fluid">
	<div class="span12">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th class="span4" style="text-align:center;">Name</th>
					<th class="span2" style="text-align:center;"></th>
				</tr>
			</thead>
			<tbody>
			@for(item <- user.meetings) {
				<tr>
					<td class="span4" style="text-align:center;"><a href="@routes.Meetings.show(item.id)">@item.name</a></td>
					<td class="span2" style="text-align:center;">@if(user.managerOfMeetings.contains(item)) {
						<a class="btn btn-primary" href="@routes.Meetings.edit(item.id)">@Messages.get("views.edit")</a>
					}
					</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
</div>

} 